<!DOCTYPE html>
<html>
<head>
    <title>Mini SIEM - SOC Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta http-equiv="refresh" content="5">
</head>

<body class="bg-dark text-light">

<div class="container-fluid p-4">

    <h1 class="text-center mb-4 text-warning">🛡️ Security Operations Center Dashboard</h1>

    {% if data.high_risk > 0 %}
        <div class="alert alert-danger text-center">
            🚨 CRITICAL ALERTS DETECTED ({{ data.high_risk }} High Risk Events)
        </div>
    {% endif %}
    {% if data.alerts %}
    <div class="alert alert-warning text-center">

        {% for alert in data.alerts %}
            <p>{{ alert }}</p>
        {% endfor %}

    </div>
    {% endif %}

    <!-- KPI Cards -->
    <div class="row mb-4 text-center">

        <div class="col-md-3">
            <div class="card bg-secondary">
                <div class="card-body">
                    <h5>Total Events</h5>
                    <h2>{{ data.total }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-danger">
                <div class="card-body">
                    <h5>Failed Logins</h5>
                    <h2>{{ data.failed }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-warning">
                <div class="card-body">
                    <h5>High Risk</h5>
                    <h2>{{ data.high_risk }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-info">
                <div class="card-body">
                    <h5>Unique IPs</h5>
                    <h2>{{ data.unique_ips }}</h2>
                </div>
            </div>
        </div>

    </div>

    <!-- Alert Table -->
    <div class="card bg-black">
        <div class="card-header bg-dark text-warning">
            Live Security Events
        </div>

        <div class="card-body">
            <form method="GET" class="mb-3">
                <input type="text" name="q"
                       placeholder="Search logs (user/ip/status)"
                       class="form-control">
            
                    </form>

            <table class="table table-dark table-hover table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>IP</th>
                        <th>Status</th>
                        <th>Time</th>
                        <th>Risk</th>
                    </tr>
                </thead>
                <tbody>

                {% for log in data.logs %}
                    <tr {% if log.risk_score >= 80 %} class="table-danger" {% endif %}>
                        <td>{{ log.id }}</td>
                        <td>{{ log.username }}</td>
                        <td>{{ log.ip }}</td>
                        <td>
                            {% if log.status == "FAILED" %}
                                <span class="badge bg-danger">FAILED</span>
                            {% else %}
                                <span class="badge bg-success">SUCCESS</span>
                            {% endif %}
                        </td>
                        <td>{{ log.time }}</td>
                        <td>
                            {% if log.risk_score >= 80 %}
                                <span class="badge bg-danger">{{ log.risk_score }}</span>
                            {% elif log.risk_score >= 50 %}
                                <span class="badge bg-warning">{{ log.risk_score }}</span>
                            {% else %}
                                <span class="badge bg-success">{{ log.risk_score }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
    <hr>

<div class="row">

    <div class="col-md-6">
        <h4 class="text-warning">Failed vs Success</h4>
        <canvas id="statusChart"></canvas>
    </div>

    <div class="col-md-6">
        <h4 class="text-warning">Attack Timeline</h4>
        <canvas id="timeChart"></canvas>
    </div>

</div>

</div>
<script>
const statusData = JSON.parse('{{ data.status_data | tojson | safe }}');
const timelineData = JSON.parse('{{ data.timeline | tojson | safe }}');

// Status Chart
new Chart(document.getElementById('statusChart'), {
    type: 'pie',
    data: {
        labels: statusData.map(x => x.status),
        datasets: [{
            data: statusData.map(x => x.count)
        }]
    }
});

// Timeline Chart
new Chart(document.getElementById('timeChart'), {
    type: 'line',
    data: {
        labels: timelineData.map(x => x.t),
        datasets: [{
            label: 'Events',
            data: timelineData.map(x => x.count)
        }]
    }
});
</script>
</body>
</html>
